
$theme: #f5dd42;
$black: #282c34;
$white: #ffffff;

// * {
//     background-color: $theme;
// }

html {
    background-color: $theme;
}

.container {
    padding: 20px;
}

.h_pad {
    padding: 0px 20px 0px 20px;
}

.v_pad {
    padding: 20px 0px 20px 0px;
}

.airline_header {
    nav {
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                color: $white;
                flex-grow: 1;
                text-align: center;
                background-color: $black;
                padding: 20px;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }  
        }
    }
}
  
h5 {
    margin: 0px;
    padding: 0px;
}

.submenu {
    position: relative;
    top: -10%;
    left: 10%;
    width: 80%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    background-color: $white;
    color: $black;
}

body {
    position: relative;
}