
$theme: #f5dd42;
$black: #282c34;
$white: #ffffff;

* {
    background-color: $theme;
}

.container {
    padding: 20px;
}

.h_pad {
    padding: 0px 20px 0px 20px;
}

.v_pad {
    padding: 20px 0px 20px 0px;
}

.airline_header {
    nav {
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style: none;
            padding: 0;
            li {
                color: $white;
                flex-grow: 1;
                text-align: center;
                background-color: $black;
                padding: 20px;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }  
        }
    }
}

.dropdown {
    display: flex;
    flex-direction: column !important;
    li {
        background-color: $white !important;
        color: $black !important;
    }
}
  