
$theme: #f5dd42;
$black: #282c34;
$white: #ffffff;
$gray: #636363;

html {
    background-color: $theme;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.container {
    padding: 20px;
}

.h_pad {
    padding: 0px 20px 0px 20px;
}

.v_pad {
    padding: 20px 0px 20px 0px;
}

.airline_header {
    nav {
        padding: 0px 5% 0px 5%;
        background-color: $black;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                color: $white;
                flex-grow: 1;
                text-align: center;
                background-color: $black;
                padding: 20px;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }  
        }
    }
}

.submenu {
    position: relative;
    margin: 0px 5% 0px 5%;
    z-index: 2;
    background-color: $white;
    color: $gray;
}